---
import Layout from "@layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";
import Container from "@components/Container.astro";

import { getAllTeams } from "@services/teams.js";
const teams = await getAllTeams();
---

<!-- Página del equipo -->
<Layout title='Equipos'>
	<SectionTitle title='Equipos' />

	<Container>
		<div>
			<section>
				<article class="rounded bg-blue-300 w-52">
					<a class="bg-[url('https://kingsleague.jonanv.workers.dev/static/logos/1k.svg')] bg-contain" href="team/1k">
						<h3>1K FC</h3>
						<img src="https://kingsleague.jonanv.workers.dev/static/logos/1k.svg" alt="">
					</a>
				</article>
			</section>
		</div>
	</Container>

</Layout>
