---
import Layout from "@layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";
import Container from "@components/Container.astro";
import TeamSelectorCards from "@components/TeamSelectorCards.astro";
---

<!-- Página del equipo -->
<Layout title='Equipos'>
	<SectionTitle title='Equipos' />

	<Container>
		<div class="bg-white p-20 shadow-xl rounded -mt-10 z-10 mb-20">
			<TeamSelectorCards />
		</div>
	</Container>

</Layout>
